.body{
    background-color: #cbcbff;
}

.margin{
    margin: 0px 7px 0px;
}

@font-face{
    font-family: myfont;
    src:url(font.ttf)
}

.head{
    font-family: myfont;
}
.text-d{
    text-decoration: none;
}

.box{
    position: relative;
    width: 600px;
    height: 100px;
    top: 10%;
    left: 10%;
    margin: 80px 230px 20px;
    box-shadow: 10px 10px 10px #555;
   border: 2px solid #000;
}