.body{
    background-color: #cbcbff;
}

.margin{
    margin: 0px 7px 0px;
}

@font-face{
    font-family: myfont;
    src:url(font.ttf)
}

.head{
    font-family: myfont;
}
.text-d{
    text-decoration: none;
}

